<% if @question.could_answer_by? current_user.id %>
<h3 class="answer-title">添加答案</h3>
<%= form_for(Answer.new,:remote=>true, :html => { 'data-type' => :json , :id => "answer-form"}) do |f| %>
<%= f.hidden_field :question_id, :value => @question.id %>
<div class="clearfix">
  <%= f.text_area :content, :class => "span12", :rows => 7 %>
</div>
<%= f.submit '回答', :class => "btn primary" %>
<% end %>
<% end %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  if($("#answer_content").length > 0){
    new nicEditor({buttonList: ['bold','italic','underline', 'strikethrough', 'ol', 'ul', 'hr']}).panelInstance('answer_content');
  }
  
  $('#answer-form').live('ajax:success', function(xhr, data, status){
     data
     $(this).fadeOut();
  })
});
</script>