<% if @question.could_answer_by? current_user.id %>
<h3 class="answer-title">添加答案</h3>
<%= form_for(Answer.new) do |f| %>
<%= f.hidden_field :question_id, :value => @question.id %>
<div class="clearfix">
  <%= f.text_area :content, :class => "span12", :rows => 7 %>
</div>
<%= f.submit '回答', :class => "btn primary" %>
<% end %>
<% else %>
<div class="answered-message">一个问题你只能回答一次，但你可以对现有的回答进行修改</div>
<% end %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  new nicEditor({buttonList: ['bold','italic','underline', 'strikethrough', 'ol', 'ul', 'hr']}).panelInstance('answer_content');
});
</script>