<div>
  <div class="main-content messages-main-content" style="min-height: 805px; ">
    <div class="messages-header header">
      <h1>私信</h1>
      <div id="new-msg-btn" class="new-message-button js-new-message-button button">撰写新私信</div>
    </div>
    <div class="stream-manager js-stream-manager-container">
      <div class="js-stream-manager" id="messages-stream-manager">
        <div class="stream-title"><h2>私信</h2></div><div class="stream-container">
          <div class="stream ">
            <div id="stream-items" class="js-stream-items stream-items">

              <div id="stream-item-id" class="js-stream-item stream-item" style="display: none">
                <div class="message-thread-preview stream-item-content" data-screen-name="vvdpzz">
                  <div class="message-inner">
                    <img src="" class="thumb" >
                    <span class="user-name"><strong></strong></span>
                    <div class="message-content">
                      <span class="created-at"><span class="_timestamp"></span></span>
                      <div class="message-count"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="details-pane-outer" style="top: 60px; ">
    <div class="details-pane-shell">
      <div class="details-pane" style="height: 797px; width: 520px; ">

        <div id="messagebox-and-messages" class="inner-pane active" style="display:none">
          <div class="pane-toolbar pane-built-in">
            <br style="clear: both">
            <div class="component gray-component send-message-box"><div class="tweet-box condensed">
              <div class="tweet-box-title">
                <h2>给 wind_stills 发信息</h2>
              </div>
              <div class="text-area">
                <div class="text-area-editor twttr-editor"><textarea class="twitter-anywhere-tweet-box-editor" style="width: 462px; height: 56px; "></textarea><ul class="autocomplete-container" style="width: 462px; top: 32px; left: 0px; visibility: hidden; "></ul></div>
              </div>
              <div class="tweet-button-container">
                <div class="tweet-button-sub-container">
                  <a id="btn-reply-message" href="#" class="tweet-button button disabled">发送</a>
                </div>
              </div>
            </div>
          </div>


          <div class="pane-components" style="height: 673px; ">
            <div class="pane-components-inner">
              <div class="component">
                <div id="messages-items" class="messages-pane">

                  <div id="message-item-id" class="js-message message" style="display:none">
                    <div class="message-inner">
                      <a href=""><img src="" class="thumb user-profile-link"></a>
                      <span class="user-name">
                        <a class="user-profile-link" href="">wind_stills</a>
                      </span>
                      <div class="message-content">
                        <div class="linked-text">sdfsdf</div>
                        <div class="message-footer">
                          <span class="created-at"><span class="_old-timestamp"></span></span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <hr class="component-spacer">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="dlg-send-message" style="display:none;">
  <div id="message-recipient" class="ui-dialog-box">
    <span>To:</span>
  </div>
  <div id="message-body" class="ui-dialog-box">
    <span>Message:</span>
    <textarea></textarea>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var viewer = {
    name: "<%= current_user.name%>",
    id: "<%= current_user.id%>",
    avatar: "<%= current_user.avatar %>"
  }
  $(function(){
    init();
  });
</script>

