<div class="passport clearfix">
  <div class="gravatar32"><%= image_tag user.gavatar %></div>
  <div class="detail">
    <%= link_to user.name, "/users/#{user.id}" %><br>
    <div class="credit"><%= user.reputation %></div>
  </div>
  <div class="about-me"><%= user.about_me %></div>
</div>