/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree . 
*/
body{
  padding-top:60px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.right-tabs li{
  float:right;
}
.items{
  margin-bottom:40px;
}
.item{
  border-bottom:1px solid #DDD;
  padding:10px 0;
}
#loading{

  height:50px;
  background:url('/assets/loading.gif') no-repeat center;
}