.main-content{
  width: 540px;
  float: left;
  display: inline-block;
  z-index: 4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 4px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.5);
  border-right: 1px	solidid #EEE;
  position: relative;
  background: white;
  height: 100%;
  min-height: 700px;
}
.messages-main-content {
  width: 400px;
}
.messages-header {
  background: none repeat scroll 0 0 #EEE;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 12px 8px 12px;
  position: relative;
  z-index: 2;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  height: 30px;
}
.messages-header h1 {
font-size: 18px;
margin-top: 2px;
margin-left: 2px;
text-shadow: 0 1px 0 white;
}
.button:active {
  background-image: none;
  text-shadow: none;
  outline: none;
}
.button:hover, .button:focus {
  background-position: 0 -6px;
  border-color: #999 #999 #666;
  color: black;
  text-decoration: none;
}
.new-message-button {
  position: absolute;
  right: 9px;
  top: 10px;
  margin-bottom: 10px;
}
.new-messages-btn{
  position: absolute;
  right: 9px;
  top: 10px;
  margin-bottom: 10px;
}
.btn-disabled, .button.disabled, .btn-disabled:hover, .button.disabled:hover, .btn-disabled:focus, .button.disabled:focus, form.submitting .submit.button {
  background: #DDD url(/assets/bg-btn.gif) repeat-x 0 0;
  border-color: #CCC;
  cursor: default;
  color: #AAA!important;
  text-shadow: none;
}
.button {
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #DDD url(/assets/bg-btn.gif) repeat-x 0 0;
  border-color: #BBB #BBB #999;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font: 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 5px 9px 5px 9px;
  text-shadow: 0 1px #F0F0F0;
  color: #333!important;
  -moz-box-shadow: 0 1px 0 #F8F8F8;
  -wekbit-box-shadow: 0 1px 0 #F8F8F8;
  box-shadow: 0 1px 0 #F8F8F8;
}  
.tweet-button {
  font-weight: 300;
  font-size: 15px;
  padding: 6px 9px;
}

.stream-title h2 {
  padding: 14px 20px 5px 20px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
  color: #666;
  line-height: 22px;
}
.stream-manager {
  z-index: 1;
}
.stream {
  position: relative;
  background-color: white;
  padding-top: 1px;
  min-height: 800px;
  margin-top: 1px;
  zoom: 1;
}
#stream-items {
  zoom: 1;
}
.stream-item {
  position: relative;
  border-bottom: 1px solid #EBEBEB;
  min-height: 60px;
  clear: both;
  display: block;
  outline: none;
  margin-top: -1px;
  border-top: 1px solid transparent;
}

 
.stream-item:hover {          
  background-color: rgba(0,132,180,0.1);              
  border-color: rgba(0,132,180,0.15);      
}

.focused-stream-item {
  background: #EEE;
  border-bottom: 1px solid #CCC;
  margin-top: -1px;
  border-top: 1px solid #CCC;
  outline: none;
}
.messages-main-content .stream-item {
  min-height: 40px;
}
.stream .stream-item:first-child, .stream .hovered-stream-item:first-child, .related-tweets .stream-item:first-child:hover {
  border-top: none;
}
.message, .message-thread-preview {
  line-height: 16px;
  padding: 6px 25px 6px 15px;
  min-height: 60px;
  font-size: 13px;
  line-height: 17px;
  overflow: hidden;
  clear: both;
  display: block;
  position: relative;
}
.message-thread-preview {
  padding: 8px 15px;
}
.message-thread-preview {
  min-height: 36px!important;
}
.message .message-inner, .message-thread-preview .message-inner {
  min-height: 60px;
  position: relative;
  width: 100%;
}
.message-thread-preview .message-inner {
  min-height: 20px!important;
}
.message-thread-preview .thumb {
  display: block;
  float: left;
  height: 32px;
  overflow: hidden;
  width: 32px;
  margin-top: 2px;
}
.message-thread-preview .user-name {
  display: block;
  margin-left: 40px;
  height: 17px;
  font-size: 15px;
}
.message-inner b.full-name {
  font-size: 12px;
  color: #999;
  font-weight: normal;
}
.message-thread-preview .message-content {
  margin-left: 40px;
  margin-right: 22px;
}
.created-at {
  color: #BBB;
  font-size: 11px;
}
.message-count {
  font-size: 20px;
  font-weight: 300;
  min-width: 30px;
  position: absolute;
  margin-right: 10px;
  right: 0;
  text-align: right;
  top: 7px;
  padding: 2px 8px;
  color: #999;
}
.focused-stream-item .message-count {
  color: #333!important;
  font-weight: 300!important;
}
#details-pane-outer {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 60px;
  width: 100%;
  _position: static;
  _width: 520px;
  _float: left;
  _display: inline-block;
}
.details-pane-shell {
  position: relative;
  width: 920px;
  margin: 0 auto;
  padding: 0 40px;
  _position: static;
  _width: 520px;
  _padding: 0;
  _margin: 0;
}
.details-pane {
  background: white;
  position: relative;
  left: 370px;
  display: block;
  top: 0;
  min-width: 520px;
  max-width: 630px;
  min-height:790px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.messages-container .details-pane {
  min-width: 520px;
  max-width: 630px;
  left: 400px;
  display: block;
}
.details-pane .inner-pane {
  height: 100%;
  margin-left: 10px;
}
div.pane-toolbar {
  background: #F4F4F4;
  padding: 6px 10px 6px 20px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  margin-left: -10px;
}
.inner-pane .component {
  margin-bottom: 0;
}
.send-message-box {
  padding: 2px 0px 10px 10px;
}
.gray-component {
  background-color: #F4F4F4;
  border-bottom: solid 1px #EFEFEF;
}
.component {
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  margin-bottom: 6px;
}
.tweet-box-title {
  overflow: hidden;
  padding: 1px 0;
}
.tweet-box h2 {
  font: bold 18px Helvetica Neue,Helvetica,sans-serif;
  text-shadow: 0 1px 0 white;
  margin: 0 0 6px 0;
  color: #999;
}
.component h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 6px;
}
.text-area {
  position: relative;
  margin-bottom: 10px;
}
.tweet-box .twitter-anywhere-tweet-box-editor, .proxy-editor {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px;
  -webkit-box-shadow: 0 1px white;
  -moz-box-shadow: 0 1px white;
  box-shadow: 0 1px white;
  width: 482px;
  height: 56px;
  color: #222;
  font: 14px/18px "Helvetica Neue",Arial,sans-serif;
  outline: none;
  _width: 442px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.tweet-box textarea {
  resize: vertical;
}
//input, input[type="password"], input[type="search"], isindex {
//  -webkit-appearance: textfield;
//  padding: 1px;
//  background-color: white;
//  border: 2px inset;
//  -webkit-rtl-ordering: logical;
//  -webkit-user-select: text;
//  cursor: auto;
//  }
//input, textarea, keygen, select, button, isindex {
//  margin: 0em;
//  font: -webkit-small-control;
//  color: initial;
//  letter-spacing: normal;
//  word-spacing: normal;
//  line-height: normal;
//  text-transform: none;
//  text-indent: 0px;
//  text-shadow: none;
//  display: inline-block;
//  text-align: -webkit-auto;
//}
//textarea {
//  -webkit-appearance: textarea;
//  background-color: white;
//  border: 1px solid;
//  -webkit-rtl-ordering: logical;
//  -webkit-user-select: text;
//  -webkit-box-orient: vertical;
//  resize: auto;
//  cursor: auto;
//  padding: 2px;
//  white-space: pre-wrap;
//  word-wrap: break-word;
//}
.autocomplete-container {
  visibility: hidden;
  margin: 0;
  padding: 4px 0;
  position: absolute;
  list-style: none;
  border: 1px solid #BBB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: white;
  border-radius: 4px;
  width: 505px;
  z-index: 10;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
//menu, dir {
//  display: block;
//  list-style-type: disc;
//  -webkit-margin-before: 1em;
//  -webkit-margin-after: 1em;
//  -webkit-margin-start: 0px;
//  -webkit-margin-end: 0px;
//  -webkit-padding-start: 40px;
//}
.tweet-button-container {
  position: relative;
  text-align: right;
  margin: 5px 0 3px 0;
  height: 29px;
  z-index: 3;
}
.tweet-button-sub-container {
  display: inline-block;
}
.tweet-counter {
  background-color: transparent;
  color: #999;
  display: inline-block;
  width: 35px;
  border: 0;
  font: normal 16px 'helvetica neue','lucida grande',helvetica,arial;
  padding: 0 3px;
  position: relative;
  vertical-align: top;
  top: 5px;
  text-align: right;
}
.details-pane .pane-components {
  overflow-y: auto;
  position: relative;
}
.details-pane .pane-components-inner {
  background-color: white;
}
.messages-pane {
  padding: 5px 20px;
}
.message {
  min-height: 36px;
  border-bottom: 1px solid #EBEBEB;
}
.messages-pane .message {
  min-height: 60px;
  padding-left: 0;
}
.message .message-inner, .message-thread-preview .message-inner {
  min-height: 60px;
  position: relative;
  width: 100%;
}
.message .message-inner {
  min-height: 36px;
}
fieldset, img {
  border: 0;
}
.user-profile-link {
  cursor: pointer;
}
.message .thumb {
  display: block;
  float: left;
  height: 48px;
  overflow: hidden;
  width: 48px;
  margin-top: 6px;
}
.message .user-name {
  display: block;
  margin-left: 56px;
  height: 17px;
  font-size: 15px;
  padding-top: 4px;
}
.message a.user-profile-link {
  color: #333;
  display: inline-block;
  font-weight: bold;
  min-width: 35px;
}
.message .message-content {
  margin-left: 56px;
  margin-right: 22px;
}
.message-content .linked-text {
  word-wrap: break-word;
  font: 15px Arial,Helvetica Neue,sans-serif;
  line-height: 19px;
}
.message-footer {
  color: #999;
  font-size: 11px;
  padding-top: 1px;
}
.created-at {
  color: #BBB;
  font-size: 11px;
}


#dlg-send-message {
border-bottom: 1px solid #B1B1B1;
position: relative;
padding: 0 1em;
}
#message-recipient {
height: 30px;
margin: 5px 0 10px;
}
.ui-dialog-box {
width: 100%;
}
#message-recipient span {
vertical-align: top;
padding-top: 5px;
}
#message-recipient .recipient-name {
height: 24px;
font-weight: normal;
text-align: left;
width: auto;
max-width: 340px;
}
#message-recipient input {
width: 368px;
height: 24px;
}
#dlg-send-message span {
display: inline-block;
font-weight: bold;
padding: 5px 10px 0 0;
text-align: right;
width: 50px;
}
.ui-dialog-box {
width: 100%;
}
#message-body span {
vertical-align: top;
}
#message-body textarea {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border: 1px solid #B2B2B2;
border-radius: 4px;
padding: 5px 5px;
width: 368px;
height: 110px;
resize: none;
}
.ui-dialog .ui-dialog-buttonpane {
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-top: none;
}
.ui-dialog .ui-dialog-buttonpane {
text-align: left;
background: url(../../../js/jquery-ui-1.8.7/css/custom-theme/images/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x;
margin: .5em 0 0 0;
padding: .3em 3em .5em .4em;
border-bottom-left-radius: 8px 8px;
border-bottom-right-radius: 8px 8px;
}
.ui-dialog-buttonset {
float: right;
bottom: 5px;
right: 45px;
}
.user-selector-list {
z-index: 1999;
position: absolute;
border: 1px solid #999;
min-width: 135px;
}
.ce6-sel-table {
list-style-type: none;
background-color: white;
margin-left: 0;
padding: 1px;
}
.user-selector-list .user-entry-item.selected {
background-color: #005DCE;
color: white;
}
.user-selector-list .user-entry-item {
color: black;
font-size: 12px;
font-weight: bold;
height: 36px;
cursor: pointer;
width: 100%;
}
.user-selector-list .user-entry-item img {
margin: 5px;
height: 25px;
width: 25px;
vertical-align: middle;
border:none;
}
.user-selector-list .user-entry-item span {
margin: 5px;
vertical-align: middle;
}
#message-recipient .remove-button {
background: url(/assets/closebutton-small.png) no-repeat scroll 0 0 transparent;
height: 14px;
width: 14px;
cursor: pointer;
padding-top: 0;
margin-top: 8px;
}
#message-recipient .remove-button:hover {
background-position: 0 -14px;
}
.user-selector-list .default-message {
color: black;
font-size: 13px;
line-height: 30px;
padding-left: 5px;
padding-right: 5px;
cursor: default;
font-weight: normal;
color: #909090;
width: 100%;
}